/* Navigation bar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Logo styling */
.logo {
  font-size: 1.5em;
  text-transform: uppercase;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  /* Reset margin */
  padding: 0;
  /* Reset padding */
}

/* Individual navigation link */
.nav-links li {
  margin-right: 20px;
}

/* Styling for navigation links */
.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Styling for navigation links hover */
.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Hamburger menu icon */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* Styling for lines in hamburger menu icon */
.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {

  /* Hide navigation links on smaller screens */
  .nav-links {
    display: none;
  }

  /* Display hamburger menu icon on smaller screens */
  .burger {
    display: flex;
  }
}